// Use this to overwrite Bootstrap and theme variables

// Example of a variable override to change the primary color.
// Remove the "//" to uncomment it and see it in action.
// $primary: #36a6cf;

// Example of a variable override to change the theme font.
// Remove the "//" to uncomment it and see it in action.
// $font-family-sans-serif: "Arial", sans-serif;

// To use a custom font, first add the font files inside folder src/assets/fonts/
// Then use the example below to import your custom font.
// Remove the "//" to uncomment it and see it in action.
// $path-to-fonts: '../fonts/myfont/myfont.css';
// $font-family-sans-serif: "My Font Name", sans-serif;

// To use a Google font use the example below.
// Remove the "//" to uncomment it and see it in action.
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 $font-family-sans-serif: 'Jost', sans-serif;

$btn-padding-x: 3rem;
$btn-padding-y: 2rem;
