 <footer class="bg-dark text-inverse" >
    <div class="container py-13 py-md-15" >
        <div class="row gy-6 gy-lg-0">
            <div class="col-md-4 col-lg-4">
                <div class="widget text-center text-sm-start ">
                    <h2 class="text-inverse">  {{ 	page_footer:page_footer_heading }} </h2>

                    <p class="mb-4">{{ page_footer:page_footer_description }}<br /></p>

                    <nav class="nav social justify-content-center justify-content-sm-start">
                        <a href="https://facebook.com/sumburero/"><i class="uil uil-facebook-f"></i></a>
                        <a href="https://instagram.com/sumburerosofala/"><i class="uil uil-instagram"></i></a>
                        <a href="https://api.whatsapp.com/send?l=pt-BR&phone=+258845950861&text=Olá Sumburero!"><i
                                class="uil uil-whatsapp"></i></a>

                    </nav>
                    <!-- /.social -->
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-4">
                <div class="widget text-center text-sm-start ">
                    <h4 class="widget-title text-inverse mb-3">Navegação</h4>
                    <ul class="list-unstyled text-reset mb-0">
                        {{ nav:collection:pages include_home="true"}}
                        <li><a href="{{ url }}">{{ title }}</a></li>
                        {{ /nav:collection:pages}}
                    </ul>
                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="col-md-4 col-lg-4">
                <div class="widget text-center text-sm-start ">
                    <h4 class="widget-title  mb-3 text-inverse">Localização e contactos</h4>
                    <address class="">{{ page_footer:page_footer_localizacao }}</address>
                   <strong>Email: </strong> <a href="mailto:{{ page_footer:page_footer_email }}" class="link-body">
                    {{ page_footer:page_footer_email }}</a><br />
                   <strong>Telefone 1: </strong> <a href="mailto:{{ page_footer:telefone_1 }} " class="link-body">{{ page_footer:telefone_1 }}</a><br />
                   <strong>Telefone 2: </strong> <a href="mailto:{{ page_footer:telefone_2  }} " class="link-body">{{ page_footer:telefone_2 }}</a><br />

                </div>
                <!-- /.widget -->
            </div>
            <!-- /column -->

        </div>
        <!--/.row -->
    </div>
    <p class="text-center text-small bg-black p-1 m-0">{{ page_footer:copyright }}</p>
    <!-- /.container -->
</footer>
