{{ section:content }}

<section class="wrapper bg-soft-primary media_data_image_background" data-image="bg3.jpg">
    <div class="container py-12 py-md-16 text-center">
        <div class="row">
            <div class="col-md-7 col-lg-6 col-xl-5 mx-auto text-white">
                <h1 class="display-1 mb-3  text-white">{{ title }}</h1>
                <p class="lead px-lg-5 px-xxl-8 mb-1"></p>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
      <div class="row gx-lg-8 gx-xl-12">
        <div class="col-lg-8">
          <div class="blog single">
            <div class="card">
              <figure class="card-img-top">

                {{ responsive:cover  ratio="19/9" }}
              </figure>
              <div class="card-body">
                <div class="classic-view">
                  <article class="post">
                    <div class="post-content mb-5">
                        <h4>{{title}}</h4>
                        {{ content }}
                    </div>
                    <!-- /.post-content -->

                  </article>
                  <!-- /.post -->
                </div>
                <!-- /.classic-view -->

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.blog -->
        </div>
        <!-- /column -->
        <aside class="col-lg-4 sidebar mt-11 mt-lg-6">
            <div class="widget">
                <h4 class="widget-title mb-3">Actividades recentes</h4>
                <ul class="image-list">

                    {{ collection:actividades limit="3" }}
                        <li>
                            <figure class="rounded"><a href="{{ url }}">

                                    {{ responsive:cover ratio="9/7"  }}
                                </a></figure>
                            <div class="post-content">
                                <h6 class="mb-2"> <a class="link-dark" href="{{ url }}">{{ title }}</a> </h6>
                                <ul class="post-meta">
                                    <li class="post-date"><i
                                            class="uil uil-calendar-alt"></i><span>{{ date }}</span>
                                    </li>
                                    {{#
                                        <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>3</a>
                                        </li>
                                    #}}
                                </ul>
                                <!-- /.post-meta -->
                            </div>
                        </li>
                    {{ /collection:actividades }}
                </ul>
                <!-- /.image-list -->
            </div>
        </aside>
        <!-- /column .sidebar -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
{{ /section:content }}

{{ section:title }}
    Actividade
{{ /section:title }}
